
body{
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: none;

}
.right-nav--home > a{
	background-image: none;
}
.site-width{
	max-width: 940px;
	margin: 0 auto;
	width: auto;
}
.slide{
	background-color: #f06c64;
}
.header{
	background-color: #2d303a;

}
.header-content{
	line-height: 88px;
	text-align: right;
}
.header-content > p{
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	color: white;
	font-family: Lato;
	float: left;
}
.header-content > p a{
	color: white;
}
	span{
	color: #f06c64;
}
.right-nav > ul > li{
	display: inline-block;
	color: white;
	font-family: Lato;
	font-weight: bold;
	font-size: 12px;
	background-image: url(../background/header_dot.png);
	background-position:0  center;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 15px
}
.right-nav > ul > li:first-child{
	background-image: none;
}
.right-nav > ul > li a:hover{
	color: #f06c64;
}
.right-nav > ul > li a{
	color: white;
}
.right-nav{
	display: inline-block;
    vertical-align: top;
    position: relative;

}
.right-nav--home{
	background-image: none;
	padding-left: 0;
	margin-left: 0;
}
.right-nav > ul{
	margin:0 auto;
	padding: 0;
}
.header-bottom{
	background-color:  #323746;
	height: 6px;
	margin-top: -1px;
}
.services{
	background-color: #f2f2f2;
}
.services-title{
	color: #666d89;
	font-size: 30px;
	font-weight: bold;
	font-family: Lato;
	margin: 0;
}
.services-content{
	padding-top: 66px;
}
.services-content > p{
	font-size: 18px;
	font-family: Lato;
	font-weight: 300;
	color: #767e9e;
	line-height: 160%;
	margin-top: 33px;
	margin-bottom: 12px;
	text-align: justify;
}
.services-type{
	max-width: 300px;
	width: auto;
	margin-top: 38px;
	display: inline-block;
	margin-left: 20px;

}
.services-type-picture{
	background-image: url(../background/pen.png);
	width: 56px;
	height: 56px;
	background-repeat: no-repeat;;
	background-position: center;
	border: 2px solid #666d89;
	border-radius: 100%;
	background-color: #f2f2f2;
	display: inline-block;
	vertical-align: top;
}
.services-type-content{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin-left: 15px;
}
.services-type-content > h2{
	font-family: Lato;
	font-style: bold;
	font-size: 18px;
	color: #666d89;
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.services-type-content > h2 a{
	color: #666d89;
}
.services-type-content > p{
	font-family: Lato;
	font-size: 12px;
	color: #767e9e;
	display: inline-block;
	margin: 0;
	line-height: 160%;
	margin-top: 18px;
	text-align: justify;
}
.services .services-type:nth-of-type(3n+1){
	 margin-left: 0;
}
.services-type-picture--bulb{
	background-image: url(../background/bulb.png);
}
.services-type-picture--heart{
	background-image: url(../background/heart.png);
}
.services-type-picture--phone{
	background-image: url(../background/phone.png);
}
.services-type-picture--bubble{
	background-image: url(../background/bubble.png);
}
.services-type-picture--star{
	background-image: url(../background/star.png);
}
.services-bottom{
	height: 6px;
	background-color: #ffffff;
	margin-top: 67px;
}
.portfolio{
		background-color: #2d303a;
}
.portfolio-content{
	padding-top: 66px;
}
.portfolio-content > h1{
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: #666d89;
	margin: 0;
}
.portfolio-content > p{
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	margin-bottom: 19px;
	margin-top: 33px;
	text-align: justify;

}
.portfolio-container label{
	border: 1px solid #767e9e;
	padding: 3px 7px 3px 7px;
	border-radius: 5px;
	color: #767e9e;
	margin-right: 10px;
	font-family: Lato;
	font-size: 12px;
	cursor: pointer;
}
.portfolio-container input{
	display: none;
}
.portfolio-container label:hover{
	border-color: #dedede;
	color: #dedede;
}

.portfolio-items{
	margin: 0;
	padding: 0;

}
.portfolio-items > li{
	display: inline-block;
	margin-top: 19px;
	position: relative;
	margin-left: 20px;
	height: 187px;
	width: 220px
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;

}
.portfolio-items li:nth-of-type(4n+1){
	 margin-left: 0;
}
.portfolio-container input.selector-type-1:checked ~ .portfolio-items .item-type-1,
.portfolio-container input.selector-type-2:checked ~ .portfolio-items .item-type-2,
.portfolio-container input.selector-type-3:checked ~ .portfolio-items .item-type-3{
opacity: 1;
 transform: scale(1.1);
}

.portfolio-container input.selector-type-1:checked ~ .portfolio-items li:not(.item-type-1),
.portfolio-container input.selector-type-2:checked ~ .portfolio-items li:not(.item-type-2),
.portfolio-container input.selector-type-3:checked ~ .portfolio-items li:not(.item-type-3)
{
opacity: 0.1;
transform: scale(0.5);
	
}
.portfolio-items img{
	width: 220px;
	height: 187px;
}
.portfolio-bottom{
	background-color: #323746;
	height: 6px;
	margin-top: 66px;
}
.portfolio-items-overley{
	position: absolute;
	width: 220px;
	height: 187px;
	top: 0;
	background-color: black;
	opacity: 0;

}
.portfolio-items li:hover .portfolio-items-overley{
	opacity: 0.8;
	cursor: pointer;
}
.aboutUs{
	background-color: #f2f2f2;
}
.aboutUs-content{
	padding-top: 66px
}
.aboutUs-content > h1{
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: #666d89;
	margin: 0;
}
.aboutUs-content > p{
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	margin-top: 33px;
	text-align: justify;
	line-height: 160%;
	margin-bottom: 50px;
}
.aboutUs-profile{
	display: inline-block;
	width: 300px;
	margin-left: 20px;
}
.aboutUs-profile-image > img{
	width: 300px;
	height: 300px;
}
.aboutUs-profile-name{
	font-family: Lato;
	font-size: 18px;
	color: #666d89;
	font-weight: bold;
	margin-top: 19px;
}
.aboutUs-profile-description{
	font-family: Lato;
	font-size: 12px;
	color: #767e9e;
	line-height: 160%;
	margin-top: 19px;
	text-align: justify;	
}
.social-media-style{
	width: 32px;
	height: 32px;
	border: 1px solid #666d89;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat; 
	border-box
	margin-left: 8px;
	display: inline-block;
}
.social-media-style--facebook{
	background-image: url(../background/facebook.png);
}
.social-media-style--facebook:hover{
	background-image: url(../background/facebook-overlay.png);
	cursor: pointer;
	border-color: black;
}
.social-media-style--google{
	background-image: url(../background/google.png);
}
.social-media-style--google:hover{
	background-image: url(../background/google-overlay.png);
	cursor: pointer;
	border-color: black;
}
.social-media-style--twitter{
	background-image: url(../background/twitter.png);
}
.social-media-style--twitter:hover{
	background-image: url(../background/twitter-overlay.png);
	cursor: pointer;
	border-color: black;
}
.social-media-style--linkedin{
	background-image: url(../background/linkedin.png);
}
.social-media-style--linkedin:hover{
	background-image: url(../background/linkedin-overlay.png);
	cursor: pointer;
	border-color: black;
}
.aboutUs-profile > .social-media{
	margin-top: 30px;
}
.aboutUs-profile:nth-of-type(3n+1) {
  	margin-left: 0;
}
.aboutus-bottom-bg{
	background-color: #ffffff;
	height: 6px;
	margin-top: 67px;
}
.GetaQuote{
	background-color: #f06c64;
}
.GetaQuote-content{
	padding-top: 66px;

}
.GetaQuote-content > h1{
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: #f0d8d9;
	margin: 0;
}
.GetaQuote-content > p{
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	color: #f0d8d9;
	margin-top: 33px;
	text-align: justify;
	line-height: 160%;
	margin-bottom: 50px;
}
.contact-form{
	background-color: #f06c64;
	width: 620px;
	display: inline-block;
	vertical-align: top;
}
.contact-form-field{
	height: 38px;
	width: 620px;
	background-color: #d6564f;
	border: none;
	border-radius: 6px;
	text-indent: 15px;
	font-size: 14px;
	font-family: Lato;
	outline: none;
	margin-bottom: 16px;

}
.contact-form input{
	color: #f48c8f;
}
::-webkit-input-placeholder {
   color: #f48c8f;
}
.contact-form-field--describe{
	height: 202px;
	margin-bottom: 0;
	width: 616px;
	resize: none;
	color: #f48c8f;;
}
.contact-form > button{
	width: 150px;
	height: 40px;
	border-radius: 10px;
	background-color: #d6564f;
	border: 2px solid #e05353;
	font-size: 20px;
	color: #f48c8f;
	font-family: Lato;
	margin-top: 20px;
}
.contact-form-field:focus{
	background-color: green;
}
.contact-information{
	width: 300px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;

}
.contact-information > h3{
	font-family: Lato;
	font-size: 18px;
	font-weight: bold;
	color: #f0d8d9;
	margin:	0;

}
.contact-information > p{
	font-family: Lato;
	font-size: 12px;
	color: #f0d8d9;
	margin-top: 19px;
	text-align: justify;
	line-height: 160%;
	margin-bottom: 30px
}
.contact-information-adress{
	background-image: url(../background/adress_icon.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 20px;
	font-family: Lato;
	font-size: 12px;
	color: #f0d8d9;
	margin-bottom: 14px;
}
.contact-information-telephone{
	background-image: url(../background/phone_icon.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 20px;
	font-family: Lato;
	font-size: 12px;
	color: #f0d8d9;
	margin-bottom: 14px;
	
}
.contact-information-email{
	background-image: url(../background/email_icon.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 20px;
	font-family: Lato;
	font-size: 12px;
	color: #f0d8d9;
}
.GetaQuote-bottom-bg{
	height: 6px;
	background-color: #ea676b;
	margin-top: 67px;
}
.footer{
	background-color: #2d303a;
	height: 76px;

}
.footer-content{
	padding-top: 22px;
	text-align: right;	

}
.footer-content > p{
	display: inline-block;
	vertical-align: middle;
	right: 62%;
	position: relative;
	font-family: Lato;
	font-size: 12px;
	color: #666d89;
	margin: 0;
}
.footer-content > .social-media{
	display: inline-block;
	vertical-align: middle;
}
.slide-content{
	position: relative;
}
.btn-right{
	position: absolute;
	top: 50%;
}
.btn-left{
	position: absolute;
	top: 50%;
	right: 0;
}